body {
  background-image: url('codewall.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#wrapper {
  background-color: white;

  margin-left: 16%;
  margin-right: 16%;
  margin-top: 0.5%;
  border: 3px solid rgb(81, 2, 117);
  display: block;
  min-width: fit-content;
  }

  #title {
    width: auto;
    background-color: rgb(81, 2, 117);
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
  }

  #visual {
   text-align: center;
  }

  .responsive {
    width: 100%;
    max-width: 280px;
  height: auto;
  }

  #searchNumber {
    text-align:center;
    margin-right: 18%;
    margin-top: 2%;
  }

  #array {
    text-align:center;
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
  }

  #userInput{
  display:inline-block;
  margin-right:1%;
  font-family: Arial, Helvetica, sans-serif;
} 

input{
  border-width: 2px;
  font-size: large;
  text-align: center;
  width: 100px;
}

#answer {
  font-weight: bolder;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
 text-align: center;
}
  #userButton{
  text-align: center;
  padding-top:2%}
 
  #output {
    text-align: center;
    padding-top:1%;
    padding-bottom:1%;
  }

  .customButton {
  background-color: #ff0404;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin: 2% 1%;
  cursor: pointer;
  }

  #guide {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
  }